<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="Unit" tests="2" assertions="4" errors="0" failures="0" skipped="0" time="0.015296">
    <testsuite name="CacheResolverTest" file="/home/andrzej/workspace/oddin/tests/unit/CacheResolverTest.php" tests="1" assertions="2" errors="0" failures="0" skipped="0" time="0.012598">
      <testcase name="testServiceResolver" class="CacheResolverTest" classname="CacheResolverTest" file="/home/andrzej/workspace/oddin/tests/unit/CacheResolverTest.php" line="17" assertions="2" time="0.012598"/>
    </testsuite>
    <testsuite name="DIResolverTest" file="/home/andrzej/workspace/oddin/tests/unit/DIResolverTest.php" tests="1" assertions="2" errors="0" failures="0" skipped="0" time="0.002698">
      <testcase name="testServiceResolver" class="DIResolverTest" classname="DIResolverTest" file="/home/andrzej/workspace/oddin/tests/unit/DIResolverTest.php" line="21" assertions="2" time="0.002698"/>
    </testsuite>
  </testsuite>
</testsuites>
